{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<main>
    <header class="row tm-welcome-section">
				
				
	</header>
		
<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-7">
                        <h1>Password Reset Confirm</h1>
                        <hr>
                        <p>Please enter your new password.</p>
						<form action="" method="POST">
                            {% csrf_token %}
                        <div class="mb-3">
                            {{form}}
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                         
                        </form>
					</div>
                </div>
            </div>
            </main>
        </div>
{% endblock %}