{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<main>
    <header class="row tm-welcome-section">
				
				
	</header>
		
<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-7">
                        <h1>Change Password</h1>
						<form action="" method="POST">
                            {% csrf_token %}
                        <div class="mb-3">
                            <label  class="form-label">Password</label>
                            <input type="password"  name="old_password" class="form-control" >
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Password</label>
                            <input type="password"  name="new_password1" class="form-control" >
                        </div>
                         <div class="mb-3">
                            <label  class="form-label">Password Confirm</label>
                            <input type="password"  name="new_password2" class="form-control" >
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Change</button>
                         
                        </form>
					</div>
                </div>
            </div>
            </main>
        </div>
{% endblock %}