{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <main>
                <header class="row tm-welcome-section">
                    
                   
                </header>

                <div class="tm-container-inner tm-persons">
                    
                        {{setting.aboutus|safe}}
                    
                </div>
               
                
                
            </main>
            </div>
        {% endblock %}