{% extends 'home/base.html' %}
{% load static %}
{% block content %}
	<div class="container">
	<!-- Top box -->
		<main>
			<header class="row tm-welcome-section ">
				
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						{% for item in category %}
						<li class="tm-paging-item"><a href="{% url 'home:category_food' item.id %}" class="tm-paging-link active ">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			<!--gallery1-->
            
			<!------------>
           
		</main>
</div>
{% endblock %}
	